apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.component_id }}
  description: ${{ values.description }}
  annotations:
    github.com/project-slug: ${{ values.owner }}/${{ values.component_id }}
    backstage.io/kubernetes-label-selector: 'app=${{ values.component_id }}'
spec:
  type: service
  owner: ${{ values.owner }}
  lifecycle: production
  dependsOn: []
  subcomponentOf: null
